<!--launching our test component from app-test-->
<app-test></app-test>
<!--passing the data we get from our parent component (singers)
//to test2component (app-test-2)-->
<app-test2 [data]="singers"></app-test2>
<br />
<button (click)="onClickAgain()">change singers</button>
<!--passing data we get from our child component (app-test2) to a parent component-->
<app-test2 (sendDataEvent)="onReceivedData($event)"></app-test2>
<!--passing data we get from our child component (app-test3) to a parent component-->
<app-test3 (sendData3)="onTest3DataReceived($event)"></app-test3>
<br />
<input #greetingsInput value="hello" />
<button (click)="onClickPlus()">send greetingsInput value</button>
<br />
<br />
<!--applying highlight directive  we created-->
<h2>Choose highlighter color</h2>
<div>
  <input
    type="radio"
    name="highlighterColor"
    (click)="changeHiglighterColor('red')"
  />Red
  <input
    type="radio"
    name="highlighterColor"
    (click)="changeHiglighterColor('Pink')"
  />Pink
  <input
    type="radio"
    name="highlighterColor"
    (click)="changeHiglighterColor('Violet')"
  />Violet
</div>
<!--adding a second default property in our directive-->
<p [appHighlight]="color" defaultColor="blue">First paragraph</p>
<p [appHighlight]="color" defaultColor="orange">Second paragraph</p>
<p [appHighlight]="color" defaultColor="yellow">Third paragraph</p>
<br />
<!--pipes built in functions-->
<!--uppercase-->
<p>Hey man can you lend me {{ bookTitle | uppercase }} book</p>
<!--datapipe examples-->
<br />
<p>Today is {{ today | date : "medium" }}</p>
<p>Today is {{ today | date : "shortTime" }}</p>
<p>Today is {{ today | date : "h:mm:ss" }}</p>
<br />
<!--decimal and percentage pipes-->
<p>{{ number | number : "2.1-4" }}</p>
<p>{{ number | percent : "2.1-4" }}</p>
<br />
<!--currency pipe-->
<p>you owe me {{ currNumber | currency : "EUR" }}</p>
<br />
<app-test4></app-test4>
