.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.greenCircle {
  width: 30px;
  height: 20px;
  border-radius: 20px;
  background-color: green;
}
.redCircle {
  width: 30px;
  height: 20px;
  border-radius: 20px;
  background-color: red;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
  margin-right: 10px;
  text-align: center;
}
li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
li > p {
  margin-bottom: 0;
}
.onlineCircle {
  background-color: green;
  color: white;
}
.offlineCircle {
  background-color: red;
  color: orange;
}
.test {
  border-radius: 0%;
}
