<!-- <p>test works!</p> -->
<!--string interpolation-->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ dogs[0].name.toUpperCase() }}</mat-card-title>
    <mat-card-subtitle>{{ dogs[0].breed }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ dogs[0].description }}</p>
    <p>{{ 2 < 5 ? "Dog king" : "Dog queen" }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<!--property binding-->

<button mat-raised-button color="primary" [disabled]="isDisabled">
  Primary
</button>
<!---card with image-->
<!--property binding-->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="img" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<!--event binding in angular-->
<button mat-raised-button color="primary" (click)="onClick()">Primary</button>
<br />
<br />
<!--event binding in angular / ex 2-->
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Favorite food</mat-label>
  <input
    matInput
    placeholder="Ex. Pizza"
    value="Sushi"
    (input)="onInput($event)"
  />
</mat-form-field>
